@charset "UTF-8";

.event-img {
    width: 100%;
    border-radius: 15px;
    height: 340px;
    object-fit: cover;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.badge-category {
    background: #ffc107;
    padding: 8px 15px;
    color: black;
    border-radius: 20px;
    font-size: 0.87rem;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a7fba;
}
